.searchColor {
    background: rgba(33, 36, 45, 1);
}
.bgImgCarousel {
    background: url(assets/garisWaktu.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.garisWaktuPoster {
    background: url(assets/garisWaktu.png) no-repeat;
}
.w-6 {
    width: 6%;
}

.colorCyan {
    color: rgba(0, 220, 220, 1);
}
.borderColor {
    border-bottom: 2px solid rgba(0, 220, 220, 1);
}
.theMenuPoster {
    background: url(assets/theMenuPoster.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.mantanTapiMenikah {
    background: url(assets/mantanTapiMenikahPoster.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.kokduPoster {
    background: url(assets/kokdu.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.dunkirkPoster {
    background: url(assets/dunkirk.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.devilInLawPoster {
    background: url(assets/devinInLaw.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.hotelTransylvania {
    background: url(assets/hotelTransylvanie.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.theLostCity {
    background: url(assets/theLostCity.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.frozen2 {
    background: url(assets/frozen2.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.interstellar {
    background: url(assets/interstellar.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.spidermanNWH {
    background: url(assets/spidermanNWH.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.vicenzo {
    background: url(assets/vicenzo.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.xMenAppo {
    background: url(assets/xmenApocalypse.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.downtownAbbey {
    background: url(assets/downtownAbbey.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.avatar {
    background: url(assets/avatar1.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.dexter {
    background: url(assets/dexter.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.wednesday {
    background: url(assets/wednesday.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.billions {
    background: url(assets/billions.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.strangeThings {
    background: url(assets/strangeThings.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.mrSunshine {
    background: url(assets/mrSunshine.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.AOT {
    background: url(assets/AOT.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.bokuNoHero {
    background: url(assets/bokuNoHero.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.OPM {
    background: url(assets/OPM.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.fightForMyWay {
    background: url(assets/fightForMyWay.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.laraAti {
    background: url(assets/laraAti.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.yourName {
    background: url(assets/yourName.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.SAO {
    background: url(assets/SAO.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.persona5 {
    background: url(assets/persona5.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.spiritedAway {
    background: url(assets/spiritedAway.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.shazam {
    background: url(assets/shazam.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.aManCallOtto {
    background: url(assets/aManCallOtto.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.antMan {
    background: url(assets/antMan.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.barbie {
    background: url(assets/barbie.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.imperfect {
    background: url(assets/imperfect.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.yowisBen {
    background: url(assets/yowisBen.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.WWZ {
    background: url(assets/WWZ.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.scream {
    background: url(assets/scream.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.theCall {
    background: url(assets/theCall.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.dontBreath {
    background: url(assets/dontBreath.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.parasyte {
    background: url(assets/parasyte.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.theSocialDilemma {
    background: url(assets/theSocialDilemma.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.everest {
    background: url(assets/everest.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.katyPerry {
    background: url(assets/KatyPerry.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.pele {
    background: url(assets/pele.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.spencer {
    background: url(assets/spencer.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.defColor {
    background: rgba(33, 32, 37, 1);
}
.searchColor {
    background: rgba(33, 36, 45, 1);
}
.yourLieInApril {
    background: url(assets/677543.jpg) no-repeat;
    background-size: cover;
    min-height: 39rem;
}
.garisWaktuPoster{
    background: url(assets/garisWaktu.png) no-repeat;
}


.mMojoxApp {
    margin-left: -60%;
}
.theMenuPoster{
    background: url(assets/theMenuPoster.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.mantanTapiMenikah{
    background: url(assets/mantanTapiMenikahPoster.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.kokduPoster{
    background: url(assets/kokdu.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.dunkirkPoster{
    background: url(assets/dunkirk.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.devilInLawPoster{
    background: url(assets/devinInLaw.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.hotelTransylvania{
    background: url(assets/hotelTransylvanie.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.theLostCity{
    background: url(assets/theLostCity.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.frozen2{
    background: url(assets/frozen2.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.interstellar{
    background: url(assets/interstellar.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.spidermanNWH{
    background: url(assets/spidermanNWH.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.vicenzo{
    background: url(assets/vicenzo.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.xMenAppo{
    background: url(assets/xmenApocalypse.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.downtownAbbey{
    background: url(assets/downtownAbbey.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.avatar{
    background: url(assets/avatar1.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.dexter{
    background: url(assets/dexter.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.wednesday{
    background: url(assets/wednesday.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.billions{
    background: url(assets/billions.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.mrSunshine{
    background: url(assets/mrSunshine.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.AOT{
    background: url(assets/AOT.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.bokuNoHero{
    background: url(assets/bokuNoHero.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.OPM{
    background: url(assets/OPM.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.fightForMyWay{
    background: url(assets/fightForMyWay.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.laraAti{
    background: url(assets/laraAti.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.yourName{
    background: url(assets/yourName.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}


.spiritedAway{
    background: url(assets/spiritedAway.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.shazam{
    background: url(assets/shazam.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.aManCallOtto{
    background: url(assets/aManCallOtto.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.antMan{
    background: url(assets/antMan.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.barbie{
    background: url(assets/barbie.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.imperfect{
    background: url(assets/imperfect.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.yowisBen{
    background: url(assets/yowisBen.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.WWZ{
    background: url(assets/WWZ.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.scream{
    background: url(assets/scream.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.theCall{
    background: url(assets/theCall.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.dontBreath{
    background: url(assets/dontBreath.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.parasyte{
    background: url(assets/parasyte.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.theSocialDilemma{
    background: url(assets/theSocialDilemma.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.everest{
    background: url(assets/everest.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.katyPerry{
    background: url(assets/KatyPerry.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.pele{
    background: url(assets/pele.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.spencer{
    background: url(assets/spencer.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.clanna{
    background: url(assets/clannad.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.chainsawMan{
    background: url(assets/chainsawMan.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.nisekoi{
    background: url(assets/nisekoi.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.darwinGame{
    background: url(assets/darwinGame.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.komi-san{
    background: url(assets/komi-san.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.danmachi{
    background: url(assets/danmachi.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.dagashi{
    background: url(assets/dagashi.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.baka-to-test{
    background: url(assets/bakaToTes.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.darling{
    background: url(assets/darlingFranxx.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.blackClover{
    background: url(assets/blackClover.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.dateALive{
    background: url(assets/dateALive.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.demonSlayer{
    background: url(assets/demonSlayer.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.gate{
    background: url(assets/gate.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.danshi{
    background: url(assets/danshi.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.gekkan{
    background: url(assets/gekkan.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.acchi{
    background: url(assets/acchi.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.goblinSlayer{
    background: url(assets/goblinSlayer.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.guiltyCrown{
    background: url(assets/guiltyCrown.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.eightySix{
    background: url(assets/86.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.bungou{
    background: url(assets/bungou.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.hataraku{
    background: url(assets/hataraku.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.horimiya{
    background: url(assets/horimiya.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.koeNoKatachi{
    background: url(assets/koeNoKatachi.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.kanojo{
    background: url(assets/konojo.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.akame{
    background: url(assets/akame.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.monogatari{
    background: url(assets/monogatari.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.tokyoRevengers{
    background: url(assets/tokyoRevengers.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.vinland{
    background: url(assets/vinland.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.tonari{
    background: url(assets/torani.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.tensai{
    background: url(assets/tensai.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.violet{
    background: url(assets/violet.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.konosuba{
    background: url(assets/konosuba.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.titanic{
    background: url(assets/titanic.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;   
}
.theunthinkable{
    background: url(assets/theunthinkable.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;   
}
.catchmeifyoucan{
    background: url(assets/catchmeifyoucan.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;   
}
.the1917{
    background: url(assets/1917.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;   
}
.amsterdam{
    background: url(assets/amsterdam.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;   
}
.starisborn{
    background: url(assets/starsisborn.webp) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;   
}
.ticketparadise{
    background: url(assets/ticketparadise.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;   
}
.thematrix{
    background: url(assets/thematrix.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;   
}
.artemisfowl{
    background: url(assets/artemisfowl.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;   
}
.lordoftherings{
    background: url(assets/lordoftherings.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;   
}
.textShadow{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -3px 4px #000000, 0px 4px 4px #000000;
}
.searchColor {
    background: rgba(33, 36, 45, 1);
}
.searchForm::placeholder {
    color: white;
}

.w-90{
    width: 90%;
}
.text-white {
    color: white;
}
.searchColor {
    background: rgba(33, 36, 45, 1);
}
.kingsmanBgImg {
    background: url(assets/kings-man.png) no-repeat;
    background-size: cover;
    min-height: 39rem;
}
.moneyHeist {
    background: url(assets/moneyHeist.jpg) no-repeat;
    background-size: cover;
    min-height: 39rem;
}
.theMenuPoster{
    background: url(assets/theMenuPoster.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.mantanTapiMenikah{
    background: url(assets/mantanTapiMenikahPoster.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.kokduPoster{
    background: url(assets/kokdu.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.dunkirkPoster{
    background: url(assets/dunkirk.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.devilInLawPoster{
    background: url(assets/devinInLaw.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.hotelTransylvania{
    background: url(assets/hotelTransylvanie.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.theLostCity{
    background: url(assets/theLostCity.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.frozen2{
    background: url(assets/frozen2.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.interstellar{
    background: url(assets/interstellar.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.spidermanNWH{
    background: url(assets/spidermanNWH.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.vicenzo{
    background: url(assets/vicenzo.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.xMenAppo{
    background: url(assets/xmenApocalypse.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.downtownAbbey{
    background: url(assets/downtownAbbey.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.avatar{
    background: url(assets/avatar1.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.dexter{
    background: url(assets/dexter.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.wednesday{
    background: url(assets/wednesday.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.billions{
    background: url(assets/billions.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.mrSunshine{
    background: url(assets/mrSunshine.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.AOT{
    background: url(assets/AOT.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.bokuNoHero{
    background: url(assets/bokuNoHero.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.OPM{
    background: url(assets/OPM.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.fightForMyWay{
    background: url(assets/fightForMyWay.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.laraAti{
    background: url(assets/laraAti.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.yourName{
    background: url(assets/yourName.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}


.spiritedAway{
    background: url(assets/spiritedAway.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.shazam{
    background: url(assets/shazam.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.aManCallOtto{
    background: url(assets/aManCallOtto.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.antMan{
    background: url(assets/antMan.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.barbie{
    background: url(assets/barbie.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.imperfect{
    background: url(assets/imperfect.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.yowisBen{
    background: url(assets/yowisBen.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.WWZ{
    background: url(assets/WWZ.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.scream{
    background: url(assets/scream.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.theCall{
    background: url(assets/theCall.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.dontBreath{
    background: url(assets/dontBreath.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.parasyte{
    background: url(assets/parasyte.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.theSocialDilemma{
    background: url(assets/theSocialDilemma.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.everest{
    background: url(assets/everest.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.katyPerry{
    background: url(assets/KatyPerry.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.pele{
    background: url(assets/pele.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.spencer{
    background: url(assets/spencer.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.zNation{
    background: url(assets/zNation.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.queenGambit{
    background: url(assets/theQueenGambit.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.squidGame{
    background: url(assets/squidGame.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.umbrella{
    background: url(assets/theUmbrellaAcademy.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.manifest{
    background: url(assets/manifest.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.k2{
    background: url(assets/k2.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.lucifer{
    background: url(assets/lucifer.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.peakyBlinders{
    background: url(assets/peakyBlinders.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.AOUAD{
    background: url(assets/AOUAD.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.lupin{
    background: url(assets/lupin.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.deathNote{
    background: url(assets/deathNote.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.descendantsOfTheSun{
    background: url(assets/descendantsOfTheSun.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.yourAreMyHero{
    background: url(assets/youAreMyHero.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.vagabond{
    background: url(assets/vagabond.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.shadowAndBone{
    background: url(assets/shadow&Bone.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.loveSoBeautiful{
    background: url(assets/aLoveSoBeautiful.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.trueBeauty{
    background: url(assets/trueBeauty.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.emilyInParis{
    background: url(assets/emilyInParis.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.firstLove{
    background: url(assets/firstLove.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.loveO2O{
    background: url(assets/loveO2O.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.arthdal{
    background: url(assets/arthdal.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.dark{
    background: url(assets/dark.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.ohMyGhost{
    background: url(assets/ohMyGhost.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.lostInSpace{
    background: url(assets/lostInSpace.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.breakingBad{
    background: url(assets/breakingBad.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.navyBgColor {
    background: rgba(22, 24, 30, 1);
}
.searchColor {
    background: rgba(33, 36, 45, 1);
}
.purpleHeart {
    background: url(assets/1232482.jpg) no-repeat;
    background-size: cover;
    min-height: 39rem;
}
.colorCyan{
    color: rgba(0, 220, 220, 1);
}
.theMenuPoster{
    background: url(assets/theMenuPoster.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.mantanTapiMenikah{
    background: url(assets/mantanTapiMenikahPoster.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.kokduPoster{
    background: url(assets/kokdu.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.dunkirkPoster{
    background: url(assets/dunkirk.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.devilInLawPoster{
    background: url(assets/devinInLaw.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.hotelTransylvania{
    background: url(assets/hotelTransylvanie.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.theLostCity{
    background: url(assets/theLostCity.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.frozen2{
    background: url(assets/frozen2.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.interstellar{
    background: url(assets/interstellar.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.spidermanNWH{
    background: url(assets/spidermanNWH.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.vicenzo{
    background: url(assets/vicenzo.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.xMenAppo{
    background: url(assets/xmenApocalypse.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.downtownAbbey{
    background: url(assets/downtownAbbey.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.avatar{
    background: url(assets/avatar1.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.dexter{
    background: url(assets/dexter.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.wednesday{
    background: url(assets/wednesday.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.billions{
    background: url(assets/billions.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.mrSunshine{
    background: url(assets/mrSunshine.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.AOT{
    background: url(assets/AOT.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.bokuNoHero{
    background: url(assets/bokuNoHero.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.OPM{
    background: url(assets/OPM.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.fightForMyWay{
    background: url(assets/fightForMyWay.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.laraAti{
    background: url(assets/laraAti.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.yourName{
    background: url(assets/yourName.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}

.spiritedAway{
    background: url(assets/spiritedAway.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.shazam{
    background: url(assets/shazam.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.aManCallOtto{
    background: url(assets/aManCallOtto.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.antMan{
    background: url(assets/antMan.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.barbie{
    background: url(assets/barbie.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.imperfect{
    background: url(assets/imperfect.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.yowisBen{
    background: url(assets/yowisBen.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.WWZ{
    background: url(assets/WWZ.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.scream{
    background: url(assets/scream.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.theCall{
    background: url(assets/theCall.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.dontBreath{
    background: url(assets/dontBreath.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.parasyte{
    background: url(assets/parasyte.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.theSocialDilemma{
    background: url(assets/theSocialDilemma.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.everest{
    background: url(assets/everest.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.katyPerry{
    background: url(assets/KatyPerry.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.pele{
    background: url(assets/pele.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.spencer{
    background: url(assets/spencer.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.ronin{
    background: url(assets/47Ronin.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.divergent{
    background: url(assets/divergent.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.joker{
    background: url(assets/joker.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.jackReacher{
    background: url(assets/jackReacher.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.savingPrivateRyan{
    background: url(assets/savingPrivateRyan.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.mencuriRadenSaleh{
    background: url(assets/mencuriRadenSaleh.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.skyHigh{
    background: url(assets/skyHigh.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.bleedingSteel{
    background: url(assets/bleedingSteel.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.trainToBusan{
    background: url(assets/trainToBusan.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.bumblebee{
    background: url(assets/bumblebee.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.lalaland{
    background: url(assets/lalaland.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.beWithYou{
    background: url(assets/beWithYou.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.redNotice{
    background: url(assets/redNotice.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.wanted{
    background: url(assets/wanted.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.battleship{
    background: url(assets/battleShip.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.blackAdam{
    background: url(assets/blackAdam.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.dune{
    background: url(assets/dune.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.expendables{
    background: url(assets/expendables.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.lordOfTheRIngs{
    background: url(assets/LOTR.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.unthinkable{
    background: url(assets/theUnthinkable.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.darkKnight{
    background: url(assets/theDarkKnight.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.goneGirl{
    background: url(assets/goneGirl.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.greenLatern{
    background: url(assets/greenLatern.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.jasonBourne{
    background: url(assets/jasonBourner.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.snakeEyes{
    background: url(assets/snakeEyes.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.fantasticBeast{
    background: url(assets/fantasticBeast.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.ronin47{
        background: url(assets/47Ronin.png) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.helloghost{
    background: url(assets/helloghost.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.littlemermaid{
    background: url(assets/littlemermaid.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.elemental{
    background: url(assets/elemental.webp) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.asteroidcity{
    background: url(assets/asteroidcity.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.theflash{
    background: url(assets/theflash.webp) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.openheimer{
    background: url(assets/openheimer.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.wonka{
    background: url(assets/wonka.webp) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.blade{
    background: url(assets/blade.webp) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.nextgoalwins{
    background: url(assets/nextgoalwins.webp) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.another{
    background: url(assets/another.jpeg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.ayaka{
    background: url(assets/ayaka.webp) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.bosanimal{
    background: url(assets/bosanimal.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.danshikoukosei{
    background: url(assets/danshikoukosei.jpeg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.darkgathering{
    background: url(assets/darkGathering.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.deadMount{
    background: url(assets/deadMount.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.doraemon{
    background: url(assets/doraemon.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.drstone{
    background: url(assets/drStone.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.eiyuuKyouShitsu{
    background: url(assets/eiyuuKyoushitsu.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.evangelion{
    background: url(assets/evangelion.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.fateStaynight{
    background: url(assets/fateStayNight.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.free{
    background: url(assets/free.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.gintama{
    background: url(assets/gintama.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.girlPanzer{
    background: url(assets/girlPanzer.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.haitogensou{
    background: url(assets/haiToGensou.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.handakun{
    background: url(assets/handaKun.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.isekaiSmartphone{
    background: url(assets/isekaiSmartphone.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.jigokuraku{
    background: url(assets/jigokuraku.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.jujutsukaisen{
    background: url(assets/jujutsuKaisen.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.kaguyasama{
    background: url(assets/kaguyaSama.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.kantaicollection{
    background: url(assets/kantaiCollection.png) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.kawaisugi{
    background: url(assets/kawaisugi.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.kizunanoAllele{
    background: url(assets/kizunaNoAllele.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.k-on{
    background: url(assets/k-on.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.kumakumabear{
    background: url(assets/kumakumabear.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.kuroko{
    background: url(assets/kurokoNoBasket.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.liarliar{
    background: url(assets/liarLiar.webp) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.magicalGirlSite{
    background: url(assets/magicalGirlSite.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.marginalService{
    background: url(assets/marginalService.webp) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.mashle{
    background: url(assets/magicalGirlSite.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.megaminnocafe{
    background: url(assets/megaminoCafe.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.myhomehero{
    background: url(assets/myhomehero.webp) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.nanatsunomaken{
    background: url(assets/nanatsuNoMaken.jpeg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.nononbiyori{
    background: url(assets/NonNonBiyor.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.okashinatensei{
    background: url(assets/okashiNaTensei.webp) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.orange{
    background: url(assets/orange.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.otonari{
    background: url(assets/otonarinoginga.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.ousama{
    background: url(assets/ousama.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.owarinoseraph{
    background: url(assets/owariNoSeraph.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.risingshield{
    background: url(assets/risingShieldHero.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.scarletnexus{
    background: url(assets/scarletNexus.webp) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.seijaMusou{
    background: url(assets/seijaMusou.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.skiploafer{
    background: url(assets/skipAndLoafer.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.spyfamily{
    background: url(assets/spyFamily.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.steinsgate{
    background: url(assets/steins\ gate.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.sugarApple{
    background: url(assets/sugarApple.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.temple{
    background: url(assets/temple.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.toiletnahanako{
    background: url(assets/toilet\ to\ hanako.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.tonikaku{
    background: url(assets/tonikakuKawaii.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.tsuyokute{
    background: url(assets/tsuyokuteNewSaga.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.worldstar{
    background: url(assets/worldDaiStar.webp) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.wotaku{
    background: url(assets/wotaku.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.yamadakun{
    background: url(assets/yamadaKun.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.yosuganosora{
    background: url(assets/yosuganosora.jpg) no-repeat;
        background-size: cover;
        width: 19%;
        min-height: 10rem;
}
.w-30{
    width: 30%;
}
.borderColor{
    border-bottom: 2px solid rgba(0, 220, 220, 1);
}
.searchColor {
    background: rgba(33, 36, 45, 1);
}
/* .w-20 {
    min-width: 19%;
} */
.mConnect {
    margin-left: -70%;
}
.w-30 {
    width: 30%;
}
.none{
    display: none;
}
.theMenuPoster{
    background: url(assets/theMenuPoster.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.mantanTapiMenikah{
    background: url(assets/mantanTapiMenikahPoster.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.kokduPoster{
    background: url(assets/kokdu.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.dunkirkPoster{
    background: url(assets/dunkirk.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.devilInLawPoster{
    background: url(assets/devinInLaw.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.hotelTransylvania{
    background: url(assets/hotelTransylvanie.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.theLostCity{
    background: url(assets/theLostCity.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.frozen2{
    background: url(assets/frozen2.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.interstellar{
    background: url(assets/interstellar.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.spidermanNWH{
    background: url(assets/spidermanNWH.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.vicenzo{
    background: url(assets/vicenzo.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.xMenAppo{
    background: url(assets/xmenApocalypse.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.downtownAbbey{
    background: url(assets/downtownAbbey.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.avatar{
    background: url(assets/avatar1.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.dexter{
    background: url(assets/dexter.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.wednesday{
    background: url(assets/wednesday.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.billions{
    background: url(assets/billions.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.strangeThings{
    background: url(assets/strangeThings.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.mrSunshine{
    background: url(assets/mrSunshine.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.AOT{
    background: url(assets/AOT.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.bokuNoHero{
    background: url(assets/bokuNoHero.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.OPM{
    background: url(assets/OPM.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.fightForMyWay{
    background: url(assets/fightForMyWay.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.laraAti{
    background: url(assets/laraAti.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.yourName{
    background: url(assets/yourName.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.SAO{
    background: url(assets/SAO.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.persona5{
    background: url(assets/persona5.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.spiritedAway{
    background: url(assets/spiritedAway.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.shazam{
    background: url(assets/shazam.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.aManCallOtto{
    background: url(assets/aManCallOtto.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.antMan{
    background: url(assets/antMan.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.barbie{
    background: url(assets/barbie.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.imperfect{
    background: url(assets/imperfect.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.yowisBen{
    background: url(assets/yowisBen.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.WWZ{
    background: url(assets/WWZ.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.scream{
    background: url(assets/scream.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.theCall{
    background: url(assets/theCall.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.dontBreath{
    background: url(assets/dontBreath.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.parasyte{
    background: url(assets/parasyte.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.cekToko{
    background: url(assets/posterFilm10.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.tinder{
    background: url(assets/posterFilm16.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.johnWick{
    background: url(assets/posterFilm26.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.theSocialDilemma{
    background: url(assets/theSocialDilemma.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.everest{
    background: url(assets/everest.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.katyPerry{
    background: url(assets/KatyPerry.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.pele{
    background: url(assets/pele.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.spencer{
    background: url(assets/spencer.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.naruto{
    background: url(assets/naruto.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.aquaman{
    background: url(assets/aquaman.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.enola{
    background: url(assets/enolaHolmes.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.DAYS{
    background: url(assets/DAYS.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.endgame{
    background: url(assets/endgame.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.ts1{
    background: url(assets/toyStory.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.ts2{
    background: url(assets/toySTory2.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.encanto{
    background: url(assets/encanto.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.peaky{
    background: url(assets/peaky.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.aLove{
    background: url(assets/aLove.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.emily{
    background: url(assets/emily.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.firstLove{
    background: url(assets/firstLove.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.loveO2O{
    background: url(assets/loveO2O.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.dikta{
    background: url(assets/dikta.jpeg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.trueBeauty{
    background: url(assets/trueBeauty.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.zNation{
    background: url(assets/zNation.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.yourAreMyHero{
    background: url(assets/youAreMyHero.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.theK2{
    background: url(assets/theK2.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.fate{
    background: url(assets/posterFilm27.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.neverHave{
    background: url(assets/posterFilm28.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.riverdale{
    background: url(assets/riverDale.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.doom{
    background: url(assets/posterFilm1.jpeg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.sabrina{
    background: url(assets/posterFilm43.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.anne{
    background: url(assets/posterFilm45.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.doRevenge{
    background: url(assets/posterFilm47.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.sing{
    background: url(assets/posterfilm54.webp) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.trolls{
    background: url(assets/posterFilm55.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.ts3{
    background: url(assets/posterFilm56.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}

.caroline{
    background: url(assets/posterFilm57.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.weddingDay{
    background: url(assets/posterFilm61.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.susahSinyal{
    background: url(assets/posterFilm62.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.smurf{
    background: url(assets/posterFilm58.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}

.frozen{
    background: url(assets/posterFilm59.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.extremeJob{
    background: url(assets/posterFilm60.jpg) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}
.textShadow{
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25), 5px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.movieBtn,
.animeBtn,
.tvShowBtn,
.PP{
    cursor: pointer;
}

.w-22 {
    width: 22%;
}
.mConnect {
    margin-left: -70%;
}
.mMojoxApp {
    margin-left: -60%;
}
.w-30{
    width: 30%;
}
.colorCyan{
    color: rgba(0, 220, 220, 1);
}
.borderColor{
    border-bottom: 2px solid rgba(0, 220, 220, 1);
}
.defColor {
    background: rgba(33, 32, 37, 1);
}
.navyBgColor {
    background: rgba(22, 24, 30, 1);
}
.text-white {
    color: white;
}
.searchColor {
    background: rgba(33, 36, 45, 1);
}
.searchForm::placeholder {
    color: white;
}
.navyBgColor {
    background: rgba(22, 24, 30, 1);
}
.w-80 {
    width: 80%;
}
.contain {
    max-height: 570px;
}
.w-25 {
    width: 25%;
}
.defColor {
    background: rgba(33, 32, 37, 1);
}
.navyBgColor {
    background: rgba(22, 24, 30, 1);
}
.text-white {
    color: white;
}
.searchColor {
    background: rgba(33, 36, 45, 1);
}
.searchForm::placeholder {
    color: white;
}
.kingsmanBgImg {
    background: url(assets/kings-man.png) no-repeat;
    background-size: cover;
    min-height: 39rem;
}
.bgImgCarousel {
    background: url(assets/garisWaktu.png) no-repeat;
    background-size: cover;
    width: 19%;
    min-height: 10rem;
}

.w-20 {
    width: 20%;
}
.w-25{
    width: 25%;
}
.w-40{
    width: 40%;
}
.w-70{
    width: 70%;
}
.mConnect {
    margin-left: -70%;
}
.mMojoxApp {
    margin-left: -60%;
}
.w-30 {
    width: 30%;
}
.w-90 {
    width: 90%;
}
.w-35{
    width: 35%;
}
.displayImg{
    background: url(assets/epDisplayIMg.png) no-repeat; 
    background-size: cover;
}

.displayMovie{
    background: url(assets/movieDisplay.png) no-repeat; 
    background-size: cover;
}
.exitNavbarBTN{
    cursor: pointer;
}



.con {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
  }

.ite {
    position: relative;
    display: block;
    /* flex: 1 1 0px; */
    transition: transform 500ms;
    transform: scale(1);
}
  
.con:focus-within .ite,
.con:hover .ite {
    transform: translateX(-15%);
}

.ite:focus ~ .ite,
.ite:hover ~ .ite {
    transform: translateX(15%);
}

.con .ite:focus,
.con .ite:hover {
    transform: scale(1.3);
    z-index: 100;
}

.w-72{
    width: 72%;
}

