html {  
  line-height: 1.15;
  font-family: Inter;
  font-size: 16px;
}
body {  
  margin: 0;
  font-weight: 400;
  font-style:normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.15;
  color: var(--dl-color-gray-black);
  background-color: var(--dl-color-darkversion_surface-background1);
}
* {  
  box-sizing: border-box;  
  border-width: 0;  
  border-style: solid;
}
p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  
  margin: 0;  
  padding: 0;
}
button {  
  background-color: transparent;
}
button,input,optgroup,select,textarea {  
  font-family: inherit;  
  font-size: 100%;  
  line-height: 1.15;  
  margin: 0;
}
button,select {  
  text-transform: none;
}
button,[type="button"],[type="reset"],[type="submit"] {  
  -webkit-appearance: button;
}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  
  border-style: none;  padding: 0;
}
button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  
  outline: 1px dotted ButtonText;
}
a {  
  color: inherit;  text-decoration: inherit;
}
input {  
  padding: 2px 4px;
}
img {  
  display: block;
}
html { 
  scroll-behavior: smooth;  
}

/**/

.password-and-security-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.password-and-security-password-security {
  width: 100%;
  height: 842px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: var(--dl-color-darkversion_surface-background1);
}
.password-and-security-top-searchbar {
  top: 45px;
  left: 459px;
  width: 533px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.password-and-security-frame1000003192 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 100px;
}
.password-and-security-text {
  color: rgba(0, 185, 174, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.password-and-security-textfield3 {
  width: 330px;
  height: 46px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(31, 30, 31, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  background-color: var(--dl-color-darkversion_surface-background3);
}
.password-and-security-text02 {
  top: 13px;
  left: 15px;
  color: var(--dl-color-darkversion_type-textwhite);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.password-and-security-iconsearch {
  top: 14px;
  left: 297px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.password-and-security-sidebar3 {
  top: 0px;
  left: 0px;
  width: 240px;
  height: 842px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: var(--dl-color-darkversion_surface-background2);
}
.password-and-security-sidebarbuttons {
  top: 225px;
  left: 20px;
  width: 178px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 8px;
  background-color: rgba(0, 185, 174, 1);
}
.password-and-security-iconauthentication {
  top: 14px;
  left: 15px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.password-and-security-text04 {
  top: 12px;
  left: 39px;
  color: var(--dl-color-darkversion_type-textwhite);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.password-and-security-sidebarbuttons1 {
  top: 175px;
  left: 20px;
  width: 178px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 8px;
}
.password-and-security-sidebarbuttons1:hover {
background-color: rgba(0, 185, 174, 1);
}
.password-and-security-sidebarbuttons2:hover {
  background-color: rgba(0, 185, 174, 1);
  }
.password-and-security-sidebarbuttons3:hover {
  background-color: rgba(0, 185, 174, 1);
  }
.password-and-security-iconcart {
  top: 13px;
  left: 15px;
  width: 14px;
  height: 14px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.password-and-security-logosinstagram {
  top: 1px;
  left: -1px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.password-and-security-text06 {
  top: 12px;
  left: 39px;
  color: var(--dl-color-darkversion_type-textwhite);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.password-and-security-sidebarbuttons2 {
  top: 275px;
  left: 20px;
  width: 178px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 8px;
}
.password-and-security-text08 {
  top: 12px;
  left: 39px;
  color: var(--dl-color-darkversion_type-textwhite);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.password-and-security-icondelete {
  top: 13px;
  left: 15px;
  width: 14px;
  height: 16px;
  position: absolute;
}
.password-and-security-text10 {
  top: 38px;
  left: 37px;
  color: var(--dl-color-default-f9f9f9);
  width: 144px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Condensed ExtraBold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 800;
  line-height: 100%;
  font-stretch: condensed;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.password-and-security-sidebarbuttons3 {
  top: 125px;
  left: 20px;
  width: 178px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 8px;
}
.password-and-security-icon-home {
  top: 13px;
  left: 15px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.password-and-security-text12 {
  top: 12px;
  left: 39px;
  color: var(--dl-color-darkversion_type-textwhite);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.password-and-security-passwordsecurity1 {
  top: 125px;
  left: 402px;
  width: 799px;
  height: 328px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15000000596046448) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 8px;
  background-color: var(--dl-color-darkversion_surface-background3);
}
.password-and-security-top {
  top: 0px;
  left: 0px;
  width: 800px;
  height: 70px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: var(--dl-color-darkversion_surface-background1);
}
.password-and-security-text14 {
  top: 23px;
  left: 30px;
  color: var(--dl-color-lightversion_surface-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.password-and-security-textfield5 {
  top: 176px;
  left: 30px;
  width: 330px;
  height: 46px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(24, 22, 24, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-darkversion_surface-background1);
}
.password-and-security-enter-text {
  top: 14px;
  left: 15px;
  width: 179px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.password-and-security-frame11 {
  height: 18px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 10px;
  justify-content: center;
}
.password-and-security-iconkey {
  width: 18px;
  height: 18px;
  position: relative;
}
.password-and-security-text16 {
  color: var(--dl-color-darkversion_type-textlight);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.password-and-security-textfield31 {
  top: 100px;
  left: 30px;
  width: 330px;
  height: 46px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(24, 22, 24, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-darkversion_surface-background1);
}
.password-and-security-enter-text1 {
  top: 14px;
  left: 15px;
  width: 183px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.password-and-security-frame111 {
  height: 18px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 10px;
  justify-content: center;
}
.password-and-security-iconkey1 {
  width: 18px;
  height: 18px;
  position: relative;
}
.password-and-security-text18 {
  color: var(--dl-color-darkversion_type-textlight);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.password-and-security-textfield4 {
  top: 100px;
  left: 410px;
  width: 330px;
  height: 46px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(24, 22, 24, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-darkversion_surface-background1);
}
.password-and-security-enter-text2 {
  top: 14px;
  left: 15px;
  width: 160px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.password-and-security-frame112 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 10px;
  justify-content: center;
}
.password-and-security-iconkey2 {
  width: 18px;
  height: 18px;
  position: relative;
}
.password-and-security-text20 {
  color: var(--dl-color-darkversion_type-textlight);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.password-and-security-button {
  top: 238px;
  left: 571px;
  width: 169px;
  height: 46px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 8px;
  background-color: rgba(217, 217, 217, 1);
}
.password-and-security-button:hover{
  background-color: rgba(0, 185, 174, 1);
}
.password-and-security-text22 {
  top: 12px;
  left: 56px;
  color: var(--dl-color-lightversion_surface-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
